[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
wikidata-bot-framework = "*"
wikidata-fast-query = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.9"
